{{ define "main" }}
<div class="container-fluid row justify-content-center text-center">
  <h1>{{ .Title }}</h1>
  <button id="toggle-icpc" class="btn btn-primary">Mostrar a todos los activos</button>
  {{ $uchilePeople := .Site.Params.uchilePeople }}

  <div class="ratings-container" id="standings-tables-container">
    <table class="table table-sm table-bordered codeforces-table" id="codeforces-standings">
      <tbody>
        <tr>
          <td></td>
          <td><span class="rating-3000"><span class="rating-red">C</span>odeforces <span class="rating-red">R</span>ating</span></td>
        </tr>
        {{ range $uchilePerson := sort .Site.Params.uchilePeople "codeforcesRating" "desc" }}
        {{ $icpc_allowed := $uchilePerson.icpc}}
        {{ if $uchilePerson.active }}
        <tr {{ if not $icpc_allowed }} class="hidden-icpc" style="display: none;" {{ end }}>
          {{ $rating := $uchilePerson.codeforcesRating }}
          {{ $nickname := $uchilePerson.nickname }}
          <td><span 
            {{ if lt $rating 800 }}
              class="rating-black"
            {{ else if and (ge $rating 800) (le $rating 1199) }}
              class="rating-gray"
            {{ else if and (ge $rating 1200) (le $rating 1399) }}
              class="rating-green"
            {{ else if and (ge $rating 1400) (le $rating 1599) }}
              class="rating-cyan"
            {{ else if and (ge $rating 1600) (le $rating 1899) }}
              class="rating-blue"
            {{ else if and (ge $rating 1900) (le $rating 2099) }}
              class="rating-purple"
            {{ else if and (ge $rating 2100) (le $rating 2399) }}
              class="rating-orange"
            {{ else if and (ge $rating 2400) (le $rating 2999) }}
              class="rating-red"
            {{ end }}
            >
            {{ $nickname}}
          </span>{{ if not $icpc_allowed }} * {{ end }}</td>
          <td><span 
            {{ if lt $rating 800 }}
              class="rating-black"
            {{ else if and (ge $rating 800) (le $rating 1199) }}
              class="rating-gray"
            {{ else if and (ge $rating 1200) (le $rating 1399) }}
              class="rating-green"
            {{ else if and (ge $rating 1400) (le $rating 1599) }}
              class="rating-cyan"
            {{ else if and (ge $rating 1600) (le $rating 1899) }}
              class="rating-blue"
            {{ else if and (ge $rating 1900) (le $rating 2099) }}
              class="rating-purple"
            {{ else if and (ge $rating 2100) (le $rating 2399) }}
              class="rating-orange"
            {{ else if and (ge $rating 2400) (le $rating 2999) }}
              class="rating-red"
            {{ end }}
            >
            {{ $rating}}
          </span></td>

        </tr>
        {{ end }}
        {{ end }}
      </tbody>
    </table>
    <table class="table table-sm table-bordered codeforces-table" id="atcoder-standings">
      <tbody>
        <tr>
          <td></td>
          <td><span class="rating-3000"><span class="rating-red">A</span>tCoder <span class="rating-red">R</span>ating</span></td>
        </tr>
        {{ range $uchilePerson := sort .Site.Params.uchilePeople "atcoderRating" "desc" }}
        {{ $icpc_allowed := $uchilePerson.icpc}}
        {{ if $uchilePerson.active }}
        <tr {{ if not $icpc_allowed }} class="hidden-icpc" style="display: none;" {{ end }}>
          {{ $rating := $uchilePerson.atcoderRating }}
          {{ $nickname := $uchilePerson.nickname }}
          <td><span 
            {{ if lt $rating 200 }}
              class="rating-black"
            {{ else if and (ge $rating 200) (le $rating 399) }}
              class="rating-gray"
            {{ else if and (ge $rating 400) (le $rating 899) }}
              class="rating-green"
            {{ else if and (ge $rating 900) (le $rating 1399) }}
              class="rating-cyan"
            {{ else if and (ge $rating 1400) (le $rating 1699) }}
              class="rating-blue"
            {{ else if and (ge $rating 1700) (le $rating 1999) }}
              class="rating-purple"
            {{ else if and (ge $rating 2000) (le $rating 2399) }}
              class="rating-orange"
            {{ else if and (ge $rating 2400) (le $rating 2999) }}
              class="rating-red"
            {{ end }}
            >
            {{ $nickname}}
          </span>{{ if not $icpc_allowed }} * {{ end }}</td>
          <td><span 
            {{ if lt $rating 200 }}
              class="rating-black"
            {{ else if and (ge $rating 200) (le $rating 399) }}
              class="rating-gray"
            {{ else if and (ge $rating 400) (le $rating 899) }}
              class="rating-green"
            {{ else if and (ge $rating 900) (le $rating 1399) }}
              class="rating-cyan"
            {{ else if and (ge $rating 1400) (le $rating 1699) }}
              class="rating-blue"
            {{ else if and (ge $rating 1700) (le $rating 1999) }}
              class="rating-purple"
            {{ else if and (ge $rating 2000) (le $rating 2399) }}
              class="rating-orange"
            {{ else if and (ge $rating 2400) (le $rating 2999) }}
              class="rating-red"
            {{ end }}
            >
            {{ $rating}}
          </span></td>
        </tr>
        {{ end }}
        {{ end }}
      </tbody>
    </table>
  </div>  
</div>
<script>
  document.getElementById("toggle-icpc").addEventListener("click", function() {
    let hiddenRows = document.querySelectorAll(".hidden-icpc");
    let isHidden = hiddenRows.length > 0 && hiddenRows[0].style.display === "none";

    hiddenRows.forEach(row => {
      row.style.display = isHidden ? "table-row" : "none";
    });

    this.textContent = isHidden ? "Esconder a los ICPC - no elegibles" : "Mostrar a todos los activos";
  });
</script>
{{ end }}
