{{ define "main" }}
<div class="container-fluid row justify-content-center text-center">
  <h1>{{ .Title }}</h1>

  {{ $uchilePeople := .Site.Params.uchilePeople }}
  
  <div class="dropdown">

    <button id="toggle-icpc" class="btn btn-primary">Mostrar activos</button>

    <button class="btn btn-secondary dropdown-toggle" type="button" id="universityDropdown" data-bs-toggle="dropdown" aria-expanded="false">
      Filtrar por universidad
    </button>
    <ul class="dropdown-menu" id="university-filter">
      {{ $universities := .Site.Params.universities }}
      {{ range $universities }}
        <li>
          <label class="dropdown-item">
            <img src="/images/universities/{{ . }}.png" alt="{{ . }}" class="university-logo"> 
            {{ . }} <input type="checkbox" value="{{ . }}" checked>
          </label>
        </li>
      {{ end }}
    </ul>
  </div>
  

  <div class="ratings-container" id="standings-tables-container">
    <table class="table table-sm table-bordered codeforces-table" id="codeforces-standings">
      <tbody>
        <tr>
          <td></td>
          <td><span style="font-weight: bold;">U</span></td>
          <td><span class="rating-3000"><span class="rating-red">C</span>odeforces <span class="rating-red">R</span>ating</span></td>
        </tr>
        {{ range $uchilePerson := sort .Site.Params.uchilePeople "codeforcesRating" "desc" }}
        {{ $icpc_allowed := $uchilePerson.icpc}}
        {{ if $uchilePerson.active }}
        <tr data-university="{{ $uchilePerson.university }}" {{ if not $icpc_allowed }} class="hidden-icpc" style="display: none;" {{ end }}>
          {{ $rating := $uchilePerson.codeforcesRating }}
          {{ $nickname := $uchilePerson.nickname }}
          {{ $u := $uchilePerson.university }}
          <td><span 
            {{ if lt $rating 800 }}
              class="rating-black"
            {{ else if and (ge $rating 800) (le $rating 1199) }}
              class="rating-gray"
            {{ else if and (ge $rating 1200) (le $rating 1399) }}
              class="rating-green"
            {{ else if and (ge $rating 1400) (le $rating 1599) }}
              class="rating-cyan"
            {{ else if and (ge $rating 1600) (le $rating 1899) }}
              class="rating-blue"
            {{ else if and (ge $rating 1900) (le $rating 2099) }}
              class="rating-purple"
            {{ else if and (ge $rating 2100) (le $rating 2399) }}
              class="rating-orange"
            {{ else if and (ge $rating 2400) (le $rating 2999) }}
              class="rating-red"
            {{ end }}
            >
            {{ $nickname }}
          </span>{{ if not $icpc_allowed }} * {{ end }}</td>
          <td><img src="/images/universities/{{ $u }}.png" alt="{{ $u }}" class="university-logo"> </td>
          <td><span 
            {{ if lt $rating 800 }}
              class="rating-black"
            {{ else if and (ge $rating 800) (le $rating 1199) }}
              class="rating-gray"
            {{ else if and (ge $rating 1200) (le $rating 1399) }}
              class="rating-green"
            {{ else if and (ge $rating 1400) (le $rating 1599) }}
              class="rating-cyan"
            {{ else if and (ge $rating 1600) (le $rating 1899) }}
              class="rating-blue"
            {{ else if and (ge $rating 1900) (le $rating 2099) }}
              class="rating-purple"
            {{ else if and (ge $rating 2100) (le $rating 2399) }}
              class="rating-orange"
            {{ else if and (ge $rating 2400) (le $rating 2999) }}
              class="rating-red"
            {{ end }}
            >
            {{ $rating}}
          </span></td>

        </tr>
        {{ end }}
        {{ end }}
      </tbody>
    </table>
    <table class="table table-sm table-bordered codeforces-table" id="atcoder-standings">
      <tbody>
        <tr>
          <td></td>
          <td><span style="font-weight: bold;">U</span></td>
          <td><span class="rating-3000"><span class="rating-red">A</span>tCoder <span class="rating-red">R</span>ating</span></td>
        </tr>
        {{ range $uchilePerson := sort .Site.Params.uchilePeople "atcoderRating" "desc" }}
        {{ $icpc_allowed := $uchilePerson.icpc}}
        {{ $u := $uchilePerson.university }}
        {{ $fem_allowed := $uchilePerson.femeligible }}
        {{ if $uchilePerson.active }}
        <tr data-university="{{ $uchilePerson.university }}" 
          {{ if not $icpc_allowed }} 
            style="display: none;" 
          {{ end }}
          {{ if or (not $icpc_allowed) (not $fem_allowed)}}
          class="{{ if not $icpc_allowed}}hidden-icpc{{ end }} {{if not $fem_allowed }}hidden-fem{{ end }}"
          {{ end }}
          >
          {{ $rating := $uchilePerson.atcoderRating }}
          {{ $nickname := $uchilePerson.nickname }}
          <td><span 
            {{ if lt $rating 200 }}
              class="rating-black"
            {{ else if and (ge $rating 200) (le $rating 399) }}
              class="rating-gray"
            {{ else if and (ge $rating 400) (le $rating 899) }}
              class="rating-green"
            {{ else if and (ge $rating 900) (le $rating 1399) }}
              class="rating-cyan"
            {{ else if and (ge $rating 1400) (le $rating 1699) }}
              class="rating-blue"
            {{ else if and (ge $rating 1700) (le $rating 1999) }}
              class="rating-purple"
            {{ else if and (ge $rating 2000) (le $rating 2399) }}
              class="rating-orange"
            {{ else if and (ge $rating 2400) (le $rating 2999) }}
              class="rating-red"
            {{ end }}
            >
            {{ $nickname}}
          </span>{{ if not $icpc_allowed }} * {{ end }}</td>
          <td><img src="/images/universities/{{ $u }}.png" alt="{{ $u }}" class="university-logo"> </td>
          <td><span 
            {{ if lt $rating 200 }}
              class="rating-black"
            {{ else if and (ge $rating 200) (le $rating 399) }}
              class="rating-gray"
            {{ else if and (ge $rating 400) (le $rating 899) }}
              class="rating-green"
            {{ else if and (ge $rating 900) (le $rating 1399) }}
              class="rating-cyan"
            {{ else if and (ge $rating 1400) (le $rating 1699) }}
              class="rating-blue"
            {{ else if and (ge $rating 1700) (le $rating 1999) }}
              class="rating-purple"
            {{ else if and (ge $rating 2000) (le $rating 2399) }}
              class="rating-orange"
            {{ else if and (ge $rating 2400) (le $rating 2999) }}
              class="rating-red"
            {{ end }}
            >
            {{ $rating}}
          </span></td>
        </tr>
        {{ end }}
        {{ end }}
      </tbody>
    </table>
    <table class="table table-sm table-bordered codeforces-table" id="leetcode-standings">
      <tbody>
        <tr>
          <td></td>
          <td><span style="font-weight: bold;">U</span></td>
          <td><span class="rating-3000"><span class="rating-red">l</span>eetcode <span class="rating-red">R</span>ating</span></td>
        </tr>
        {{ range $uchilePerson := sort .Site.Params.uchilePeople "leetcodeRating" "desc" }}
        {{ $icpc_allowed := $uchilePerson.icpc}}
        {{ $u := $uchilePerson.university }}
        {{ if $uchilePerson.active }}
        <tr data-university="{{ $uchilePerson.university }}" {{ if not $icpc_allowed }} class="hidden-icpc" style="display: none;" {{ end }}>
          {{ $rating := $uchilePerson.leetcodeRating }}
          {{ $nickname := $uchilePerson.nickname }}
          <td><span 
            {{ if lt $rating 200 }}
              class="rating-black"
            {{ else if and (ge $rating 200) (le $rating 1399) }}
              class="rating-gray"
            {{ else if and (ge $rating 1400) (le $rating 1599) }}
              class="rating-green"
            {{ else if and (ge $rating 1600) (le $rating 1899) }}
              class="rating-cyan"
            {{ else if and (ge $rating 1900) (le $rating 2099) }}
              class="rating-blue"
            {{ else if and (ge $rating 2100) (le $rating 2399) }}
              class="rating-purple"
            {{ else if and (ge $rating 2400) (le $rating 2899) }}
              class="rating-orange"
            {{ else if and (ge $rating 2900) (le $rating 3400) }}
              class="rating-red"
            {{ end }}
            >
            {{ $nickname}}
          </span>{{ if not $icpc_allowed }} * {{ end }}</td>
          <td><img src="/images/universities/{{ $u }}.png" alt="{{ $u }}" class="university-logo"> </td>
          <td><span 
            {{ if lt $rating 200 }}
              class="rating-black"
            {{ else if and (ge $rating 200) (le $rating 1399) }}
              class="rating-gray"
            {{ else if and (ge $rating 1400) (le $rating 1599) }}
              class="rating-green"
            {{ else if and (ge $rating 1600) (le $rating 1899) }}
              class="rating-cyan"
            {{ else if and (ge $rating 1900) (le $rating 2099) }}
              class="rating-blue"
            {{ else if and (ge $rating 2100) (le $rating 2399) }}
              class="rating-purple"
            {{ else if and (ge $rating 2400) (le $rating 2899) }}
              class="rating-orange"
            {{ else if and (ge $rating 2900) (le $rating 3400) }}
              class="rating-red"
            {{ end }}
            >
            {{ $rating}}
          </span></td>
        </tr>
        {{ end }}
        {{ end }}
      </tbody>
    </table>
  </div>  
</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const universityFilter = document.getElementById("university-filter");
    const icpcToggle = document.getElementById("toggle-icpc");

    function applyFilters() {
      let selectedUniversities = [];
      let checkboxes = universityFilter.querySelectorAll("input[type='checkbox']:checked");

      checkboxes.forEach(checkbox => {
        selectedUniversities.push(checkbox.value.toLowerCase());
      });

      let showICPC = !icpcToggle.textContent.includes("ICPC");
      let rows = document.querySelectorAll("table tbody tr");

      rows.forEach(row => {
        let university = row.getAttribute("data-university")?.toLowerCase();
        let isICPCEligible = !row.classList.contains("hidden-icpc");

        if (university == null){
          row.style.display = "table-row";
        }
        else{
          let matchesUniversity = selectedUniversities.includes(university);
          let matchesICPC = !showICPC || isICPCEligible;

          row.style.display = (matchesUniversity && matchesICPC) ? "table-row" : "none";
        }
      });
    }

    universityFilter.addEventListener("change", applyFilters);

    icpcToggle.addEventListener("click", function() {
      let hiddenRows = document.querySelectorAll(".hidden-icpc");
      let isHidden = hiddenRows.length > 0 && hiddenRows[0].style.display === "none";

      this.textContent = isHidden ? "Mostrar solo a ICPC - elegibles" : "Mostrar activos";
      
      applyFilters();
    });

    universityFilter.querySelectorAll("input[type='checkbox']").forEach(checkbox => {
      checkbox.addEventListener("change", function () {
        applyFilters();
      });
    });

  });
</script>
{{ end }}
