{{ define "main" }}
<div class="container-fluid row justify-content-center text-center">
  <h1>Equipos</h1>

  {{ $years := slice }} <!-- Initialize an empty slice -->
  {{ range .Site.Params.team }}
    {{ if not (in $years .year) }}
      {{ $years = $years | append (int .year) }} <!-- Ensure it's treated as an integer -->
    {{ end }}
  {{ end }}
  {{ $years = sort $years "value" "desc" }} <!-- Sort in descending order directly -->

  {{ range $years }}
    <h2 class="year-title">Equipos ICPC {{ . }}</h2>
    <div class="teams-container">
      {{ range where $.Site.Params.team "year" . }}
        <div class="team-card">
          <img src="{{ .image }}" alt="{{ .name }}" class="team-image">
          <div class="team-info">
            <h3 class="team-name">{{ .name }}</h3>
            <p class="team-members">{{ delimit .members ", " }}</p>
            <p class="team-place">{{ .place}} puesto de Chile </p>
            <p class="team-info">{{ .extra}} </p>
          </div>
        </div>
      {{ end }}
    </div>
  {{ end }}
</div>

<style>
  .teams-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
  }

  .team-card {
    display: flex;
    align-items: center;
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
  }

  .team-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 15px;
  }

  .team-info {
    text-align: left;
  }

  .team-name {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .team-members {
    color: gray;
  }

  .year-title {
    margin-top: 30px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
  }
</style>
{{ end }}
