@font-face{
    font-family:'Icons';
    src:url(icons.woff2) format("woff2");
}
@font-face{
    font-family:'Iconses';
    src:url(iconses.woff2) format("woff2");
}
#chapters{
    display:flex;
    flex-direction:column;
    margin-left:auto;
    align-items:center
}
.user-name{
    font-size:small;
    overflow:auto
}
li>a{
    max-width:180px
}
.solved{
    display:flex;
    justify-content:flex-end
}
.task-list{
    box-sizing:border-box
}
.task-list{
    width:100%;
    max-width:652.8px
}
body{
    padding:0;
    margin:0;
    overflow-y:scroll;
    font-family:verdana,sans-serif;
    background-color:#fff;
    color:#000
}
.task-list{
    list-style-type:none;
    margin:0;
    padding:0;
    border-top:1px solid gray
}
.task-list>li{
    display:flex;
    line-height:1.6;
    border-bottom:1px solid gray;
    overflow:hidden
}
.task-list>li:hover{
    background-color:#ebebeb
}
.task-list>li:before{
    display:inline-block;
    width:44.8px;
    text-align:center;
    font-family: 'Icons', serif;
    font-weight:900;
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased;
    font-style:normal;
    font-variant:normal;
    text-rendering:auto
}
.task-list>.task:before{
    content:'\e802'
}
.task-list>.users-task{
    justify-content:flex-end
}
.task-list>.users-task:before{
    content:'\e801';
    margin-right:auto
}
.task-list a,.task-list div{
    flex-grow:1
}
.task-list .task-score{
    float:right;
    clear:right;
    text-align:center;
    display:flex;
    align-items:center;
    justify-content:center;
    width:80px
}
.task-list .task-score.icon{
    font-size:1em;
    line-height:1.6
}
.task-score{
    color:#000
}
.task-score{
    text-align:center;
    background-color:#d6d6d6
}
.task-score.full{
    background-color:#7cf07c
}
.task-score.zero{
    background-color:#f07c7c
}
.task-score.icon:before{
    font-family:'Iconses';
    font-weight:900;
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased;
    font-style:normal;
    font-variant:normal;
    text-rendering:auto;
    content:'\f102'
}
.task-score.icon.full:before{
    content:'\f101'
}
.task-score.icon.zero:before{
    content:'\f103'
}
