.rating-black {
  color: black;
  font-weight: bold;
}

.rating-gray {
  color: gray;
  font-weight: bold;
}

.rating-green {
  color: green;
  font-weight: bold;
}

.rating-cyan {
  color: #00CED1;
  font-weight: bold;
}

.rating-blue {
  color: blue;
  font-weight: bold;
}

.rating-purple {
  color: purple;
  font-weight: bold;
}

.rating-orange {
  color: orange;
  font-weight: bold;
}

.rating-red {
  color: red;
  font-weight: bold;
}

.rating-3000 {
  font-weight: bold;
}

.rating-4000 {
  font-weight: bold;
}

[data-dark-mode] .rating-blue {
    color: #4ea4f5 !important;
}

[data-dark-mode] .rating-purple {
    color: #c084fc !important;
}

[data-dark-mode] .rating-green {
    color: #5efb8f !important;
}

[data-dark-mode] .rating-red {
    color: #ff6b6b !important;
}

.rating-3000 span:first-letter {
  color: black;
}

.rating-4000 span:first-letter {
  color: red;
}

.cforces-title {
  font-family: Arial, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  display: inline-block;
}

.cforces-title .code {
  color: black;
}

.cforces-title .forces {
  color: #3D5DA6;
}

.codeforces-table {
  border-style: dashed;
  width: auto;
  max-width: 500px;

  td {
    max-width: 300px;
    vertical-align: middle;
    text-align: center;
  }
}

[data-dark-mode] .codeforces-table {
  td {
    vertical-align: middle;
    background-color: lighten($body-bg-dark, 2%);
    text-align: center;
  }
  
  td span {
    display: inline-block;
    background-color: lighten($body-bg-dark, 2%);
    vertical-align: middle;
    text-align: center;
  }

  .task-score.attempted {
    background-color: darken($attempted-bg, 1%);
  }

  .task-score.accepted {
    background-color: darken($accepted-bg, 1%)
  }

  .task-score:before {
    color: #ffe7e7;
  }
}

.ratings-container {
  display: block;
  gap: 20px;
  overflow-x: auto;
  flex-wrap: nowrap;
  justify-content: center;
}

@media (max-width: 768px) {
  .ratings-container {
    overflow-x: auto; /* Allows horizontal scrolling */
    flex-wrap: nowrap; /* Ensures tables NEVER stack */
  }
  .table {
    min-width: 180px; /* Make tables even smaller on mobile */
    font-size: 0.7rem; /* Reduce text size further */
  }
}

#toggle-icpc {
  width: auto;
}

.university-logo {
  width: 30px;
  height: 30px;
  object-fit: contain;
  margin-right: 10px;
  vertical-align: middle;
}

.dropdown-item {
  display: flex;
  align-items: center;
  gap: 8px; /* Adjust spacing between logo, text, and checkbox */
}

.dropdown-item input[type="checkbox"] {
  margin-left: auto; /* Push the checkbox to the right */
}