{{ $titles := slice "Introductory Problems" "Sorting and Searching" "Dynamic Programming" "Graph Algorithms" "Range Queries" "Tree Algorithms" "Mathematics" "String Algorithms" "Geometry" "Advanced Techniques" "Additional Problems" }}

{{ $userNames := .Site.Params.csesNames }}
{{ $problemUrl := .Site.Params.csesProblemUrl }}

<div id="cses-tables-container">
  <h2>Totales</h2>
  <table class="table table-sm table-bordered cses-table" id="cses-totales">
    <tbody>
      <tr>
          <td></td>
          {{ range $userName := $userNames }}
            <td>{{ $userName }}</td>
          {{ end }}
      </tr>
      <tr>
          <td>Total Resueltos</td>
          {{ range $userNames }}
            <td></td>
          {{ end }}
      </tr>
    </tbody>
  </table>
  <table class="table table-sm table-bordered cses-table">
    <tbody>
      {{ range $title := $titles }}
        <tr class="problem-category-title"><td colspan="{{ len $userNames | add 1 }}"><h2>{{ $title }}</h2></td></tr>
        <tr>
          <td></td>
          {{ range $userName := $userNames }}
            <td>{{ $userName }}</td>
          {{ end }}
        </tr>
      {{ end }}
    </tbody>
  </table>
</div>
