{{ define "main" }}
<article>
    <header>
        <h1>Training Camp Brasil 2024</h1>
    </header>

    <section style="display: flex; align-items: center; justify-content: space-between;">
        <div style="flex: 1;">
            <p>
                Participación financiada por el <strong>DCC</strong>. El campamento se realizó en <strong>Brasil, Campinas</strong> del <strong>20 de Enero al 2 de Febrero 2025</strong>. 
                Son dos semanas de entrenamiento intensivo. Un día se separa en dos partes: en la mañana hay clases teóricas y resolución de problemas, 
                y en la tarde hay simulaciones de competencias de 5 horas.
            </p>
            <h2>globos.get()</h2>
            <ul>
                <li>Diego Arias (<strong>dariasc</strong>)</li>
                <li>Vicente Villarroel (<strong>vivivi</strong>)</li>
                <li>Gabriel Carmona (<strong>m1tu</strong>)</li>
            </ul>
        </div>
        <div style="flex: 1; text-align: right;">
            <img src="/images/camps/2024/brasil/pic1.jpg" width="80%" />
        </div>
    </section>

    <section>
        <h2>Experiencia</h2>
        <div style="display: flex; gap: 20px;">
            <div style="flex: 1; padding: 10px; border: 1px solid #ccc; border-radius: 10px;">
                <h3>Diego Arias (<strong>dariasc</strong>)</h3>
                <p><strong>Carrete:</strong> <br></p>
                <p><strong>Comida:</strong> <br></p>
                <p><strong>Comunidad:</strong> <br></p>
                <p><strong>Dificultad:</strong> <br></p>
                <p><strong>Calidad de problemas:</strong> <br></p>
                <p><strong>Clases:</strong> <br></p>
            </div>
            
            <div style="flex: 1; padding: 10px; border: 1px solid #ccc; border-radius: 10px;">
                <h3>Vicente Villarroel (<strong>vivivi</strong>)</h3>
                <p><strong>Carrete:</strong> <br></p>
                <p><strong>Comida:</strong> <br></p>
                <p><strong>Comunidad:</strong> <br></p>
                <p><strong>Dificultad:</strong> <br></p>
                <p><strong>Calidad de problemas:</strong> <br></p>
                <p><strong>Clases:</strong> <br></p>
            </div>

            <div style="flex: 1; padding: 10px; border: 1px solid #ccc; border-radius: 10px;">
                <h3>Gabriel Carmona (<strong>m1tu</strong>)</h3>
                <p><strong>Carrete:</strong> <br></p>
                <p><strong>Comida:</strong> <br></p>
                <p><strong>Comunidad:</strong> <br></p>
                <p><strong>Dificultad:</strong> <br></p>
                <p><strong>Calidad de problemas:</strong> <br></p>
                <p><strong>Clases:</strong> <br></p>
            </div>
        </div>
    </section>

    <section>
        <h2>Fotos (Gracias a la Pontificia por sacar fotos)</h2>
        <div style="display: flex; flex-wrap: wrap; gap: 5px; justify-content: center; align-items: center;">
            <img src="/images/camps/2024/brasil/pic2.jpg" style="width: 30%; height: auto;" />
            <img src="/images/camps/2024/brasil/pic3.jpg" style="width: 30%; height: auto;" />
            <img src="/images/camps/2024/brasil/pic4.jpg" style="width: 30%; height: auto;" />
            <img src="/images/camps/2024/brasil/pic5.jpg" style="width: 30%; height: auto;" />
            <img src="/images/camps/2024/brasil/pic6.jpg" style="width: 30%; height: auto;" />
            <img src="/images/camps/2024/brasil/pic7.jpg" style="width: 30%; height: auto;" />
        </div>
    </section>
    
    
    
</article>
{{ end }}
